.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#subscribeform {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

// Style barre saisie et bouton
.form-control {
  height: 50px;
  font-size: 16px;
  border: 1px solid #2D2D2D;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 60%;
}

.input-group-btn {
  white-space: nowrap;
  height: 50px;
  vertical-align: middle;
}

// Style background
.fondnewsletter {
 background-color: #fcf7f7;
}

p {
  padding-top: 15px
}

@media only screen and (max-width: 575px) {
  // For mobile phone
  #subscribeform {
    width: 100%;
  }
}
