<div class="container">
<div class= "one-card">
<h2>Temoignages</h2>
</div>

<div class="card-deck">
  <div class="card">
    <%= image_tag 'card-girl1.jpg', class: "image-model"%>
    <div class="card-body">
      <p class="card-text">"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération." </p>
      <h5 class="card-title">Marine Lambert</h5>
      <p class="card-text"><small class="text-muted">Graphiste en freelance</small></p>
    </div>
  </div>
  <div class="card">

    <%= image_tag 'card-guy2.jpg', class: "image-model"%>
    <div class="card-body">
      <p class="card-text">"En plus de me donner suffisamment de bases en code pour lancer mon propre site de rencontres, The Hacking Project m'a réappris à apprendre."</p>
      <h5 class="card-title">Charles Esquevin</h5>
      <p class="card-text"><small class="text-muted">Entrepreneur</small></p>
    </div>
  </div>

  <div class="card">
    <%= image_tag 'card-girl3.jpg', class: "image-model"%>
    <div class="card-body">
      <p class="card-text">"En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides."</p>
      <h5 class="card-title">Audrey Valmy</h5>
      <p class="card-text"><small class="text-muted">Fondatrice de bank-for-you.io</small></p>
    </div>
  </div>
</div>


</div>
