<footer class="container">
    <div class="footer">
    
        <div class="footer-left">
            <p>Un langage de programmation simple et puissant.</p>
        </div>

        <div class="footer-right">
            <p>Balbalaldj</p>
        </div>
        
    </div>
</footer>
