<!-- Introduction -->

<div class="container">
<div class="intro">

	<h2>Que m'apporte cette formation ?</h2>

	<div class="illustration">

		<%= image_tag("intro.jpg") %>

	</div>

	<div class="content">
		<h3>Apprendre en groupe.</h3>
			<p>Une nouvelle méthode d'apprentissage, </br>
			pour fusionner les idées, se sentir entouré pour progresser.</p>

		<h3>Concevoir des projets concrets et innovants</h3>
			<p>Comprendre, réaliser différents projets, apprendre leur fonctionnement, </br>
			et tester immédiatement sa réalisation. </p>

		<h3>Se dépasser !</h3>
			<p>Cette formation permet de prendre son avenir en main. </br>
			Vous êtes maître dans cette aventure, pour atteindre un objectif.</p>

	</div>


</div>

</div>
