<div class="container">
<h2 class="titre-learn">Wording à changer</h2>
    <div class="container-learn">
    
        <div class="learn-column-1">
            <h3>HTML & CSS</h3>
            <p>Les basiques du developpement web.</p>
            <h3>Ruby</h3>
            <p>Un langage de programmation simple et puissant.</p>
        </div>
        <div class="learn-column-2">
        <%= image_tag 'pc.png' %>
        </div>
        <div class="learn-column-1">
        <h3>Rails</h3>
        <p>Le framework le plus cool du net !</p>
        <h3>Javascript</h3>
        <p>React, Jquery, et autres langages super utiles</p>
        </div>
    </div>
</div>