<div class="container newsletter">
    <div class="title-section">
        <h2>Inscrivez-vous maintenant</h2>
        <p>Une newsletter bimensuelle pour se tenir au courant de l'actu THP</p>
    </div>

    <form id="subscribeform" class="subscribe-form mailchimp" novalidate="true">
        <div class="input-group">
            <!-- Input de l'email -->
            <input id="subscriber-email" class="form-control" name="email" placeholder="Adresse e-mail..." type="email" />
            <!-- Boutton d'inscription -->
            <span class="input-group-btn">
                <button id="subscribe-button" class="btn btn-primary btn-lg standard-button" type="submit">Go!</button>
            </span>
        </div>
          <!-- Fin groupe input -->
    </form>
  <!-- Fin du container -->
</div>
