.titre-learn {
  padding-top: 50px;
  text-align: center;
}

.container-learn {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px){

  .container-learn {
    display: flex;
    flex-direction: column;
  }
}

.learn-column-1 {
  display: inline-block;
  width: 25%;
  margin: 0 auto;
}

@media screen and (max-width: 700px){

  .learn-column-1{
    display: flex;
    flex-direction: column;
    width:95%;
  }
}

.learn-column-1 img {
  height: 25px;
}

.learn-column-2 {
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 700px){

  .learn-column-2{
    display: none
}
}

.learn-column-2 img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.fondlearn {
  background-color: #f2f7fb;
}
