<!-- Calls the header in layouts -->
<%= render 'shared/header' %>

<div class="container">
 <section id="section1" class="home">
   <%= render 'shared/banner' %>
   <%= render 'shared/intro' %>
   <%= render 'shared/learn' %>
 </section>
</div>
