.container-intro
{
  display: flex;
  justify-content: space-between;

}

.intro
{
 margin-top:50px;

  padding-bottom: 25px; 
}

.intro h2
{
	text-align: center;
}

.intro h3
{  
display:inline-block;
margin-left:20px;
margin-top: 25px;
}



.illustration
{
	margin-top:50px;	
	width:40%;
	display:inline-block;
    
 }
 .illustration img
 {
 	width:100%;
 }

.content
{
	display:inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-top: 25px;
}
