.titre-learn {
  padding-top: 50px;
  text-align: center;
}

.container-learn {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.learn-column-1 {
  display: inline-block;
  width: 25%;
  margin: 0 auto;
}

.learn-column-1 img {
  height: 25px;
}

.learn-column-2 {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.learn-column-2 img {
  max-width: 100%;
  display: block;
}

.fondlearn {
  background-color: #262c33;
}
