/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * All require and require tree . removed
 * Use @import to import SASS files
 * Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
 */
@import "bootstrap";
@import "font-awesome";
@import "components/header";
@import "components/banner";
@import "components/intro";
@import "components/learn";
@import "components/card";
@import "components/newsletter";
@import "components/footer";


/* --- Import Google Fonts stylesheets --- */
@import url("https://use.typekit.net/aqe4lkg.css");

/* --- Fonts --- */
body {
  font-family: "freight-sans-pro";
  color: rgb(255, 255, 255);
  background-color: #343A40;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: "omnes-pro";
}

h3 {
  font-size: 26px;
  color: rgb(145, 164, 184);
  
}

#monBouton {
  font-size: 40px;
  color: white;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: fixed;
  top: 90%;
  left: 95%;
}
